<spot-drop-modal
  [open]="isOpened"
  (closed)="close()"
  alignment="bottom-center"
>
  <button
    slot="trigger"
    type="button"
    (click)="open()"
    class="spot-input"
  >{{ begin }} {{ text.spacer }} {{ end }}</button>

  <op-multi-date-form
    slot="body"
    (changed)="updateValues($event)"
    [value]="[begin, end]"
    [opAutofocus]="shouldFocus"
    required="true"
    [attr.id]="'values-' + filter.id + '-begin'"
  ></op-multi-date-form>
</spot-drop-modal>

<!--op-single-date-picker
  (changed)="begin = isoDateParser($event)"
  [value]="isoDateFormatter(begin)"
  [opAutofocus]="shouldFocus"
  required="true"
  [id]="'values-' + filter.id + '-begin'"
  [name]="'v[' + filter.id + ']-begin'"
  classes="advanced-filters--date-field"
  size="10"
></op-single-date-picker-->

<!--op-single-date-picker
  (changed)="end = isoDateParser($event)"
  [value]="isoDateFormatter(end)"
  [id]="'values-' + filter.id + '-end'"
  [name]="'v[' + filter.id + ']-end'"
  classes="advanced-filters--date-field"
  size="10"
></op-single-date-picker-->
<span
  class="advanced-filters--tooltip-trigger -multiline"
  *ngIf="isTimeZoneDifferent"
  [attr.data-tooltip]="timeZoneText"
>
  <span class="spot-icon spot-icon_warning"></span>
</span>
